@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
    box-sizing: border-box;
  }
  body {
    background: #e4e4e4;
    height: 100vh;
    margin: 0;
  
    font: 500 100% system-ui, sans-serif;
  }
  .page-wrap {
    background: white;
    height: calc(100vh - 10px);
    box-shadow: 0 0 3px rgba(black, 0.33);
  
    display: grid;
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 3fr);
    grid-template-rows: min-content min-content 1fr min-content;
    gap: 1px;
  
    > * {
      padding: 1rem;
    //   text-align: center;
    }
  
    @media (max-width: 600px) {
      grid-template-columns: 100%;
      grid-template-rows: auto;
      > * {
        grid-column: 1 / -1 !important;
        grid-row: auto !important;
      }
    }
  }
//header
  .page-header {
    grid-column: 1 / -1;
    background: #ffecb3;
    font-size: 30px;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
  }
//sidebar
  .page-sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background: #e1bee7;
  }
//nav
  .page-nav {
    grid-column: 2 / 3;
  }
//main
  .page-main {
    grid-column: 2 / 3;
  }
//form
  .form {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 5px 10px 18px #888888;
  }
  label {
    margin: 5px 0 5px;   
  }
  .submit {
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
  }
//footer
  .page-footer {
    grid-column: 1 / -1;
    background: #ffecb3;
  }
  footer {
    text-align: center;
  }

  details p {
    text-transform: none;
    text-align: left;
  }
  svg {
      margin: 10px;
  }